<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <permission
        android:name="io.agritrack.content.providers.AqmIdByCageEPCProvider.READ_WRITE"
        android:protectionLevel="normal" />
    <permission
        android:name="io.agritrack.content.providers.AqmIdByCageEPCProvider.READ_DATABASE"
        android:protectionLevel="normal" />
    <permission
        android:name="io.agritrack.content.providers.AqmIdByCageEPCProvider.WRITE_DATABASE"
        android:protectionLevel="normal" />

    <application
        android:name=".FishTrackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/FishTrack"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".fish.ui.wh.zebra.outgoing.ZebraOutgoingAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.zebra.incoming.ZebraIncomingAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.zebra.correlation.ZebraCorrelationNetActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.wh.zebra.correlation.ZebraCorrelationCageActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.wh.zebra.correlation.ZebraCorrelationMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.zebra.search.ZebraSearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.wh.zebra.inventory.ZebraInventoryAssetActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".fish.ui.wh.zebra.correlation.ZebraNewTagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.wh.zebra.correlation.ZebraExistingTagActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.wh.zebra.correlation.ZebraCorrelationSubMenuActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".fish.ui.WhMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgotYourPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgotYourPinResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.config.ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>