<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.agritrack">

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".FishTrackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FishTrack"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity
            android:name=".fruit.ui.warehouse.incoming.IncomingIfcoActivity"
            android:exported="false" />
        <activity
            android:name=".fish.ui.quality.PackageQualityConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.quality.PackageQualityStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.quality.PackageQualityInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tools.CAENLoggerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.packaging.PackagingSelectOrderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.warehouse.measurements.DailyTemperatureMeasurementsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.shipping.ShippingConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.shipping.ShippingDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.shipping.ShippingStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.storage_ready.ReadyStorageConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.storage_ready.ReadyStorageStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.packaging.PackagingConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.packaging.PackagingIfcoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.packaging.PackagingLotActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.packaging.PackagingStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.storage_semi_ready.SemiReadyStorageWeightActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.storage_semi_ready.SemiReadyStorageConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.storage_semi_ready.SemiReadyStorageScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.warehouse.correlation.FruitCorrelationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.warehouse.inventory.IfcoInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.warehouse.inventory.TotesInventoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.warehouse.inventory.FruitInventoryStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.FruitWhMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.harvesting.HarvestingConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.harvesting.HarvestingTotesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.harvesting.HarvestingStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.planting.PlantingConfirmActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.planting.PlantingStartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.seaTemperature.SeaTemperatureActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fruit.ui.FruitHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.outgoing.OutgoingConsumableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.incoming.IncomingConsumableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.inventory.InventoryConsumableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.inventory.InventoryStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.fishing.HarvestRequestsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.maintenance.MaintenanceExternalConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.maintenance.MaintenanceExternalSupplierActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.maintenance.MaintenanceExternalStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.maintenance.MaintenanceInternalConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.maintenance.MaintenanceInternalTeamActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.maintenance.MaintenanceMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.maintenance.MaintenanceInternalStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.search.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.config.ConfigActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.correlation.CorrelationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.wh.inventory.InventoryAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.WhMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.outgoing.OutgoingAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.outgoing.OutgoingStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.incoming.IncomingAssetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.wh.incoming.IncomingStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.process.ProcessConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.process.ProcessBinsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.process.ProcessInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.transport.TransportSupervisorConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.transport.TransportDriverConfirmActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.transport.TransportBinsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.transport.TransportStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.fishing.FishingConfirmActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".fish.ui.fishing.FishingFillBinsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".fish.ui.fishing.FishingDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.fishing.FishingCageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.fishing.FishingTeamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.fishing.FishingBinsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.fishing.FishingStartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.TemplateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fish.ui.FishHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgotYourPinActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.ForgotYourPinResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>